################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/integration/Privat24/bin/Debug/netcoreapp3.1
/integration/Privat24/obj
/Privat24/bin/Debug/netcoreapp3.1
/Privat24/obj
/.vs
